<!DOCTYPE html>
<html ng-app="Yiim">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["WebTitle"]</title>
    @Styles.Render("~/js/base/style")
    @Scripts.Render("~/js/base/library")
</head>
<body ng-controller="navigation">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">@ViewData["WebTitle"]</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li class="{{item.isActive?'active':''}}" ng-repeat="item in ls">
                        <a href="#{{item.urls[0].link}}">{{item.name}}</a>
                    </li>
                </ul>
                <div class="navbar-form navbar-right">
                    <a href="@Url.Action("UnLogin", "Console", null)" class="btn btn-danger">
                        {{lang.exit}}
                    </a>
                </div>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li class="{{item.isActive?'active':''}}" ng-repeat="item in urls"><a href="#{{item.link}}">{{item.title}}</a></li>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <div ng-view></div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/js/angularjs/app")
</body>
</html>
